img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.caracteristicas {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#contactos a {
    color: #007BFF;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
}

#contactos a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #007BFF;
    transition: width 0.3s ease-in-out;
}

#contactos a:hover {
    color: #0056b3;
}

#contactos a:hover::after {
    width: 100%;
    left: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

ul li p {
    margin: 0;
    font-size: 1.2em;
    color: #555;
    text-align: justify;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h2, h3 {
    text-align: center;
    color: #333;
}
